{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Сотилаган Махсулот Қўшиш</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Асосий</a>
          </li>
          <li class="breadcrumb-item active">Сотилаган Махсулот Қўшиш</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Диллер</label><br />
                  {{form.diller}}
                  
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Махсулот</label><br />
                  {{form.product}}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Сотовчи</label><br />
                  {{form.seller}}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Махсулот сони</label><br />
                  <!-- <label>Сериа номер</label><br /> -->
                  <input type="number" class="form-control" id="id_serial2" name="serial2">
                  <!-- <textarea name="serial" id="id_serial" class="form-control" cols="30" rows="10"></textarea> -->
                </div>
              </div>
            </div>
            <div class="ml-3">
              <button id="hello" type="submit" class="btn col-sm-1 btn-info">
                Қўшиш
              </button>
              <a href="{% url 'solds' %}" class="btn col-sm-1 btn-secondary">
                Ортга
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
   $('select[name="diller"]').on('change',function(){
       var country_id= $(this).val();
       if (country_id) {
        $.ajax({
           url: "/get_sell/"+country_id,
         type: "GET",
         dataType: "json",
         success: function(data){
           console.log(data);
           $('select[name="seller"]').empty();
           $.each(data,function(key,value){
            console.log(key,value);
               $('select[name="seller"]').append('<option value="'+key+'">'+value+'</option>');

           });
         }
        });
       }else {
            $('select[name="state"]').empty();
      }
  });
    
  });
</script>
<script>
  document.getElementById("hello").on("click", function(){
    document.getElementById("hello").style.display="none";
  })
</script>
{% endblock %}