{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Сотилаган Махсулот Қўшиш</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Асосий</a>
          </li>
          <li class="breadcrumb-item active">Сотилаган Махсулот Қўшиш</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-4">
              <div class="form-group">
                <label>Диллер</label><br />
                {{form.diller}}
                
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Махсулот</label><br />
                {{form.product}}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Сотовчи</label><br />
                {{form.seller}}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Сериа номер</label><br />
                <textarea name="serial" id="id_serial" class="form-control" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="ml-3">
              <button type="submit" class="btn col-sm-1 btn-info">
                Қўшиш
              </button>
              <button onclick="history.back()" class="btn col-sm-1 btn-secondary">
                Ортга
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
