{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Сотилаганлар</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">Сотилаганлар</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Сотилаганлар</h3>

                <div class="card-tools">
                    <a href="{% url 'sold_create' %}"><div class="btn btn-block btn-success">Добавлять</div></a>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Диллер</th>
                      <th>Махсулот</th>
                      <th>Сериа номер</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in baseproduct %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.diller.name }}</td>
                      <td>{{ i.product.name_uz }}</td>
                      <td>{{ i.serial_number }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}