{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Сериа номерлар</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">Сериа номерлар</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Сериа номерлар</h3>

                <div class="card-tools">
                    <a href="{% url 'sold_create' %}"><div class="btn btn-block btn-success">Қўшиш</div></a>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Диллер</th>
                      <th>Viloyat</th>
                      <th>Махсулотлар</th>
                      <th>Сони</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in baseproduct %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/diller_sold/{{i.diller.id}}">{{ i.diller.name }}</a></td>
                        <td><a href="/diller_sold/{{i.diller.id}}">{{ i.diller.region.uz_data }}</a></td>
                        <td><a href="/diller_sold/{{i.diller.id}}">Maxsulotlar</a></td>
                        <td>{{ i.count }} шт</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}