{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Сотилаганлар</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">Сотилаганлар</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Сотилаганлар</h3>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Махсулот</th>
                      <th>Serai Nomer</th>
                      <th>Sana</th>
                      <th>O'chirish</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in data %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{i.product.name_uz}}</td>
                        <td><b>{{i.serial_number}}</b></td>
                        <td>{{i.date|date:"d/m/Y H:i"}}</td>
                        <td><a style="color: #dc3545;" href="{% url 'serial_delete' pk=i.id %}">
                          <div><i class="fas fa-trash-alt"></i></div></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}