{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Aksiya қўшиш</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">Aksiya қўшиш</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="">

              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="col-4">
                  <div class="form-group">
                    <label >Маҳсулот</label><br>
                      {{form.product}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Сони</label><br>
                      {{form.count}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Нархи</label><br>
                      {{form.price}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Балл</label><br>
                      {{form.ball}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Ҳолати</label><br>
                      {{form.active}}
                  </div>
                </div>
                
                <div class="col-4">
                  <div class="form-group">
                    <label >Маълумот UZ</label><br>
                      {{form.description_uz}}
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group">
                    <label >Маълумот RU</label><br>
                      {{form.description_ru}}
                  </div>
                </div>
                
                
                

                <div class="ml-3">
                  <button type="submit" class="btn col-sm-1 btn-info">Қўшиш</button>
                  <button onclick="history.back()" class="btn col-sm-1 btn-secondary">
                    Ортга
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}