{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Order List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Order List</li>
          </ol>
        </div>
      </div>
    <!-- <form method="post">
      {% csrf_token%}
      <select onchange="this.form.submit()" name="order_filter">
        <option value="all" {% if filter == 'all' %}selected{% endif %}>Hammasi</option>
        <option value="done" {% if filter == 'done' %}selected{% endif %}>Done</option>
        <option value="failed" {% if filter == 'failed' %}selected{% endif %}>Failed</option>
      </select>

    </form> -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Диллер</th>
                      <th>Телефон Номер</th>
                      <th>Тўлов тури</th>
                      <th>Буюртмалар</th>
                      <th>Умумий балл</th>
                    </tr>
                  </thead>  
                  <tbody>
                    {% for i in items %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.diller.name}}</td>
                      <td>{{i.diller.number}}</td>
                      <td>{{i.busket.get_payment_type_display}}</td>
                      <td>{{i.text|safe}}</td>
                      <td>{{i.ball}}</td>
                      <!-- <td>{{i}}</td> -->
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
