{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Маҳсулот қўшиш</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">Маҳсулот қўшиш</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="">

              <form method="post"  enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="category" value="{{pk}}">
                <div class="d-flex col-12 flex-column">
                  <div class="col-4">
                    <div class="form-group">
                      <label >Номи УЗ</label><br>
                        {{form.name_uz}}
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group ">
                      <label >Номи РУ</label><br>
                        {{form.name_ru}}
                    </div>
                  </div>
                  <div class=" btn-group w-100">
                    <div class="form-group">
                      <label >Фото</label><br>
                        {{form.image}}
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group ">
                      <label >Нархи</label><br>
                        {{form.price}}
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group ">
                      <label >вариант 1</label><br>
                        {{form.diller_ball}}
                    </div>
                  </div>
                   <div class="col-4">
                    <div class="form-group ">
                      <label >вариант 2</label><br>
                        {{form.diller_nasiya_ball}}
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group ">
                      <label >Сотувчи Балл</label><br>
                        {{form.seller_ball}}
                    </div>
                  </div>
                </div>

                <div class="ml-3">
                  <button type="submit" class="btn col-sm-1 btn-info">Қўшиш</button>
                  <button onclick="history.back()" class="btn col-sm-1 btn-secondary">
                    Ортга
                  </button>
                </div>
              </form>
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock %}
