{% extends 'dashboard/base.html' %} {% load static %} {% load currency %} {% block style %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/fontawesome-free/css/all.min.css' %}" />
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
  href="{% static 'dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dashboard/css/adminlte.min.css' %}" />
{% endblock %} {% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>So'rovlar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
          <li class="breadcrumb-item active">So'rovlar</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- /.card -->

        <div class="card p-2">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}


          <div class="card-body table-responsive p-0">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Seller</th>
                  <th>Diller</th>
                  <th>Promocode</th>
                  <th>Seria</th>
                  <th>Car</th>
                  <th>Letter</th>
                  <th>Time</th>
                  <th>Image</th>
                  <th>Status</th>
                  <th>Actions</th>
                  <!-- <th>Tasdiqlash/Rad etish</th> -->

                  <!-- <th>Edit</th> -->

                  <th><i class="far fa-edit"></i></th>
                  <th><i class="fas fa-trash-alt"></i></th>
                </tr>
              </thead>
              <tbody>
                {% for i in requests %}

                <tr>
                  <td><a href="{% url 'promocode-request-edit' i.id %}">{{ forloop.counter }}</a></td>
                  <td>{{ i.seller.name }}</td>
                  <td>{{ i.seller.diller.name }}</td>
                  <td>{{ i.promo.code }}</td>
                  <td>{{ i.promo.seria }}</td>
                  <td>{{ i.promo.car.name }}</td>
                  <td>{{ i.promo.letter }} {{i.promo.order}}</td>
                  <!-- <td>{{ i.get_status_display }}</td> -->
                  <td>{{ i.created_at }}</td>
                  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
                      View Image
                    </button></td>


                  {% if i.status == 1 %}
                  <td><span class="badge badge-warning">{{i.get_status_display}}</span></td>
                  <td>
                    <a href="{% url 'promocode-request-accept' pk=i.pk %}" class="btn btn-xs btn-success"><i
                        class="p-1 fas fa-check-circle"></i></a>
                    <a href="{% url 'promocode-request-reject' pk=i.pk %}" class="btn btn-xs btn-danger"><i
                        class="p-1 fas fa-times-circle"></i></a>
                  </td>
                  {% elif i.status == 2 %}
                  <td><span class="badge badge-success">{{i.get_status_display}}</span></td>
                  <td>
                    <a class="btn btn-xs btn-secondary disabled"><i class="p-1 fas fa-check-circle"></i></a>
                    <a class="btn btn-xs btn-secondary disabled"><i class="p-1 fas fa-times-circle"></i></a>
                  </td>
                  {% else %}
                  <td><span class="badge badge-danger">{{i.get_status_display}}</span></td>
                  <td>
                    <a class="btn btn-xs btn-secondary disabled"><i class="p-1 fas fa-check-circle"></i></a>
                    <a class="btn btn-xs btn-secondary disabled"><i class="p-1 fas fa-times-circle"></i></a>
                  </td>
                  {% endif %}



                  <td><a style="color: #17a2b8;" href="{% url 'promocode-request-edit' i.id  %}">
                      <div><i class="far fa-edit"></i></div>
                    </a></td>
                  <td><a style="color: #dc3545;" href="{% url 'promocode-request-delete' i.id %}">
                      <div><i class="fas fa-trash-alt"></i></div>
                    </a></td>
                </tr>

                <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{i.image.url}}" class="img-fluid" alt="Responsive image">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- XLSX Upload Modal -->
<div class="modal fade" id="uploadXlsxModal" tabindex="-1" role="dialog" aria-labelledby="uploadXlsxModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadXlsxModalLabel">Xlsx файл орқали маҳсулот қўшиш</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{% url 'promocode-create-xlsx' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="xlsxFile">Xlsx файлни танланг</label>
            <input type="file" class="form-control-file" id="xlsxFile" name="xlsxFile" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Бекор қилиш</button>
          <button type="submit" class="btn btn-primary">Юклаш</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Control Sidebar -->
<!-- <aside class="control-sidebar control-sidebar-dark"> -->
<!-- Control sidebar content goes here -->
<!-- </aside> -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
{% endblock %} {% block javascript %}
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="/static/dashboard/js/adminlte.min.js"></script>
<script src="/static/dashboard/js/demo.js"></script>
<script>
  $(function () {
    $("#example1")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        buttons: ["copy", "csv", "excel", "pdf", "print"],
        pageLength: 50,
        deferRender: true,
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");

    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });

  });
  // setInterval(() => {
  //   location.reload();
  // }, 30000);
</script>
{% endblock %}
