{% extends 'dashboard/base.html' %} {% load static %}
{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Квитансиялар</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Асосий</a></li>
              <li class="breadcrumb-item active">Квитансиялар</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="filter-container p-0 row">
                {% for i in checks %}
                <div class="d-flex col-6">
                  <div class="product-image-thumb"  data-category="3" data-sort="white sample">
                    <a href="/{{i.img}}" data-toggle="lightbox" data-title="{{i.seller.name}}   {{i.seller.number}}   
                                                                            {{i.seller.region.uz_data}}   {{i.seller.district.uz_data}}   {{i.serial}}">
                      <img src="/{{i.img}}" style=" width: 10vw; height: 7vh;" alt="white sample"/>
                    </a>
                    
                  </div>
                  <div>
                    Ismi: <i>{{i.seller.name}}</i>  Telefon: <i>{{i.seller.number}}</i><br>Viloyat: <i>{{i.seller.region.uz_data}}</i>  Tuman: <i>{{i.seller.district.uz_data}}</i>  Seria: <i>{{i.serial}}</i><br>
                    <a href="/reject_check/{{i.serial}}" class="btn btn-xs btn-secondary">Rad etish</a>

                  </div>
                </div>

                <!-- <div class="product-image-thumb"><img src="/static/dashboard/img/prod-3.jpg" alt="Product Image"></div> -->
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% block javascript %}
<script src="/static/dashboard/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<script src="/static/dashboard/plugins/filterizr/jquery.filterizr.min.js"></script>
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>
{% endblock %}

