{% extends 'dashboard/base.html' %} {% load static %}
{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Квитансиялар</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Асосий</a></li>
              <li class="breadcrumb-item active">Квитансиялар</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="filter-container p-0 row">
                {% for i in checks %}
                <div class="filtr-item col-3" data-category="3" data-sort="white sample">
                  <a href="{{i.image}}" data-toggle="lightbox" data-title="sample 1 - black">
                    <img src="{{i.image}}" class="img-fluid mb-2" alt="white sample"/>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% block javascript %}
<script src="/static/dashboard/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<script src="/static/dashboard/plugins/filterizr/jquery.filterizr.min.js"></script>
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>
{% endblock %}

