{% load static %}

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
   
    <li class="nav-item">

      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      
      <a href="{% url 'home' %}" class="nav-link">Dashboard</a>
    </li>
  </ul>
</nav>
  

<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'dashboard/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span style="color: #2d34b9; font-weight: bold;" class="brand-text">ELITE</span>
  </a>

  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dashboard/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'home' %}" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         </li>
         
        <li class="nav-item {{s_active}}">
          <a href="{% url 'solds' %}" class="nav-link">
            <i class="nav-icon fas fa-hashtag"></i>
            <p>Сериа номерлар</p>
          </a>
        </li>
        <li class="nav-item {{b_active}}">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Буюртмалар
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item ">
              <a href="{% url 'orders' %}" class="nav-link {{dil_active}}">
                <!-- <i class="nav-icon fas fa-hotdog"></i> -->
                <p>Диллер буйуртмалари</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a href="{% url 'promotion_order' %}" class="nav-link {{p_active}}">
                <!-- <i class="nav-icon fas fa-seedling"></i> -->
                <p>Акция буйуртмалари</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'order_gift' %}" class="nav-link  {{gift_active}}">
                <!-- <i class="nav-icon fas fa-seedling"></i> -->
                <p>Совғалар</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item {{d_active}}">
          <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>Диллерлар</p>
          </a>
        </li>
        <li class="nav-item {{sel_active}}">
          <a href="{% url 'sellers_list' %}" class="nav-link ">
            <i class="nav-icon fas fa-user"></i>
            <p>Сотувчилар</p>
          </a>
        </li>
        <li class="nav-item {{cat_active}}">
          <a href="{% url 'categories' %}" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Каталоглар</p>
          </a>
        </li>
        <li class="nav-item {{r_active}}">
          <a href="{% url 'regions' %}" class="nav-link">
            <i class="nav-icon fas fa-globe-asia"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Вилоятлар</p>
          </a>
        </li>
        <li class="nav-item {{ch_active}}">
          <a href="{% url 'checks' %}" class="nav-link">
            <i class="nav-icon fas fa-images"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Квитансиялар</p>
          </a>
        </li>
        <li class="nav-item {{g_active}}">
          <a href="{% url 'gifts' %}" class="nav-link">
            <i class="nav-icon fas fa-gift"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Совғалар</p>
          </a>
        </li>
        <li class="nav-item {{se_active}}">
          <a href="{% url 'settings' %}" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Созламалар</p>
          </a>
        </li>
        <li class="nav-item {{pr_active}}">
          <a href="{% url 'prompts' %}" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Акция</p>
          </a>
        </li>
        <li class="nav-item {{sol_active}}">
          <a href="{% url 'send_orders' %}" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Сотилганлар</p>
          </a>
        </li>
        <li class="nav-item {{sol_active}}">
          <a href="{% url 'reports' %}" class="nav-link">
            <!-- <i class="nav-icon fas fa-list"></i> -->
            <i class="nav-icon fas fa-file-chart-column"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Ҳисоботлар</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <!-- <i class="fa-sign-out"></i> -->
            <p>Выйти</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</aside>